.about-company-block {
    padding-top: 55px;
}

.about-company-title {
    font-family: 'TenorSans-Regular';
    text-transform: uppercase;
    font-size: 35px;
    padding-bottom: 55px;
}

.about-block {
    display: flex;
    justify-content: space-between;
    padding-bottom: 50px;
}

.about-img-wrapper {
    width: 23.96%;
    height: 224px;
}

.repair-about-img {
    max-height: 100%;
}

.about-img {
    max-width: 100%;
    max-height: 100%;
}

.about-text {
    font-family: 'Ubuntu-Regular';
    font-size: 17px;
    line-height: 28px;
    color: var(--ligth-grey-color);
    width: 74.61%;
    text-wrap: wrap;
}