/* Ubuntu */
@font-face {
    font-family: 'Ubuntu-Regular';
    src: url('../fonts/ubuntu/Ubuntu-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
/* Ubuntu-Medium*/
@font-face {
    font-family: 'Ubuntu-Medium';
    src: url('../fonts/ubuntu/Ubuntu-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}
/* Ubuntu-Bold */
@font-face {
    font-family: 'Ubuntu-Bold';
    src: url('../fonts/ubuntu/Ubuntu-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

/*Tenor sans*/
@font-face {
    font-family: 'TenorSans-Regular';
    src: url('../fonts/tenor_sans/TenorSans-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

/* Inter */
@font-face {
    font-family: 'Inter';
    src: url('../fonts/Inter/static/Inter_28pt-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

:root {
    --main-container-size: 1544px;
    --ligth-grey-color: #555555;
    --mustard-color: #C39438;
    --bright-grey-color: #B5B5B5;
    --super-light-grey-color: #E8E8E8;
    --ultra-light-grey-color: #ECECEC;
}

/* Обнуление */
* {
	padding: 0px;
	margin: 0px;
	border: none;
}
*,
*::before,
*::after {
	box-sizing: border-box;
}

.header-top-block {
    max-width: var(--main-container-size);
    margin: 0 auto;
    padding-top: 20px;
    height: 130px;
    display: flex;
    justify-content: space-between;
    color: var(--ligth-grey-color);
}

.header-bottom-block {
    width: 100%;
    position: absolute;
    top: 130px;
    left: 0;
    width: 100%;
    height: 61px;
    background-color: #ECECEC;
}

.header-bottom-menu {
    height: 100%;
    max-width: var(--main-container-size);
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
}

.header-burger {
    display: none;
}

.menu-item {
    position: relative;
    text-transform: uppercase;
    font-family: 'Ubuntu-Bold';
    font-size: 17px;
    cursor: pointer;
    height: 100%;
    display: flex;
    align-items: center;
    color: var(--ligth-grey-color);
}

.menu-item::after {
    display: none;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    border-bottom: 2px solid var(--mustard-color);
}

.menu-item-label {
    text-decoration: none;
    color: inherit;
    z-index: 1;
    line-height: inherit;
}

.menu-item.active.menu-item {
    color: #000;
}

.menu-item:hover.menu-item::after,.menu-item.active.menu-item::after {
    display: block;
}

.header {
    font-family: 'Ubuntu-Regular';
    position: relative;
}

.header-logo {
    flex: 0 0 127px;
    cursor: pointer;
    align-self: center;
    overflow: hidden;
}

.header-logo img {
    max-width: 100%;
}

.header-search-block {
    height: 100%;
}

.mobile-search-block {
    display: none;
}

.mobile-call-block {
    display: none;
}

.mobile-icons-block {
    display: none;
    justify-content: space-between;
    width: 8%;
}

.header-search-title {
    font-weight: 400;
    font-size: 14px;
    line-height: 28px;
    display: flex;
    align-items: center;
    color: var(--ligth-grey-color);
    padding: 8px 0;
    text-wrap: nowrap;
}

.header-search-input {
    padding: 13px 18px 13px 18px;
    box-sizing: border-box;
    width: 100%;
    height: 38px;
    background: #FFFFFF;
    opacity: 0.38;
    border: 1px solid #4E5152;
    border-radius: 500px;
    flex: none;
    order: 1;
    flex-grow: 0;
    gap: 12px;
}

.phone-number-block {
    font-family: 'TenorSans-Regular';
    font-size: 22px;
    font-weight: 400;
    line-height: 25.74px;
    text-align: left;
}

.phone-number {
    display: flex;
    align-items: center;
    padding-bottom: 10px;
}

.phone-number-label {
    display: inline;
    line-height: 24px;
    padding-left: 10px;
    color: var(--ligth-grey-color);
    text-wrap: nowrap;
}

.phone-number-icon {
    width: 16px;
    height: 24px;
}

.order-call-button {
    font-family: 'Ubuntu-Medium';
    padding: 6px 20px;
    gap: 10px;
    width: 175px;
    height: 32px;
    background: var(--mustard-color);
    border-radius: 4px;
    color: white;
    font-size: 17px;
    font-weight: 500;
    cursor: pointer;
}

.location-block {
    display: flex;
    width: 243px;
    text-wrap: wrap;
}

.location-icon {
    width: 16px;
    height: 16px;
    margin-right: 5px;
}

.location-label {
    font-size: 15px;
    line-height: 21px;
}

.header-messengers {
    display: flex;
    align-items: center;
    width: 81px;
    justify-content: space-between;
}

.telegramm-icon {
    cursor: pointer;
}

.watssup-icon {
    cursor: pointer;
}

.header-calculation {
    display: flex;
    align-items: center;
}

.calculation-button {
    font-family: 'Ubuntu-Medium';
    background-color: var(--mustard-color);
    background-image: url('../images/icons/calculator.png');
    background-repeat: no-repeat;
    background-position: 18px 11px;
    width: 243px;
    height: 40px;
    padding: 10px 20px 10px 20px;
    gap: 10px;
    border-radius: 4px;
    color: white;
    font-size: 17px;
    line-height: 20px;
    cursor: pointer;
}

.content {
    margin-top: 61px;
}

.main-about-block {
    background-image: url('../images/galary/snapedit_1726250939241.jpg');
    background-repeat: no-repeat; 
    background-size: cover; 
    height: 523px;
    width: 100%;
}

.about-block-container {
    padding-top: 120px;
    max-width: var(--main-container-size);
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.about-left {
    font-family: 'Ubuntu-Bold';
    color: white;
    text-transform: uppercase;
    display: flex;
    justify-content: space-between;
    width: 63.34%;
}

.about-main-title {
    font-family: 'TenorSans-Regular';
    font-size: 51px;
    max-width: 438px;
    text-wrap: wrap;
    line-height: 60px;
    margin-bottom: 33px;
}

.about-under-block {
    display: flex;
}

.separator {
    border: 1px solid white;
    height: 22px;
    margin: 0px 30px;
}

.about-under-title {
    font-size: 17px;
    line-height: 20px;
    margin-bottom: 15px;
}

.about-button {
    font-family: 'Ubuntu-Bold';
    width: 149px;
    height: 40px;
    padding: 10px 20px 10px 20px;
    border-radius: 4px;
    background-color: var(--mustard-color);
    font-size: 17px;
    line-height: 20px;
    color: white;
    text-transform: uppercase;
    cursor: pointer;
}

.warranty-big-three {
    font-size: 47px;
    margin-right: 12px;
}

.warranty {
    width: 186px;
    height: 74px;
    background-color: white;
    color: var(--mustard-color);
    display: flex;
    align-items: center;
    padding: 0px 17px;
    font-size: 17px;
    position: relative;
    z-index: 0;
}

.warranty::before {
    content: '';
    position: absolute;
    right: -25px;
    bottom: 0;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 38px 0 0 27px;
    border-color: transparent transparent transparent #ffffff;
    z-index: -1;
}

.warranty::after {
    content: '';
    position: absolute;
    right: -25px;
    top: 0px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 38px 27px 0 0;
    border-color: #ffffff transparent transparent transparent;
    z-index: -1;
}

.about-right {
    width: 420px;
    height: 258px;
    border-radius: 20px;
    background-color: white;
}

.feedback-form {
    padding: 30px 35px;
    display: flex;
    flex-direction: column;
}

.feedback-form-title {
    font-family: 'Ubuntu-Bold';
    text-transform: uppercase;
    font-size: 17px;
    color: var(--ligth-grey-color);
    line-height: 20px;
    text-align: center;
    margin-bottom: 13px;
}

.feedback-form-input {
    width: 360px;
    height: 54px;
    padding: 13px 18px;
    border-radius: 10px;
    border: 1px solid var(--ligth-grey-color);
    outline: none;
    margin-bottom: 13px;
}

.feedback-form-input::placeholder {
    font-family: 'Ubuntu-Regular';
    font-size: 17px;
    line-height: 28px;
}

.feedback-form-submit {
    font-family: 'Ubuntu-Bold';
    font-size: 17px;
    width: 144px;
    margin: 0 auto;
    height: 40px;
    padding: 10px 20px;
    border-radius: 4px;
    background-color: var(--mustard-color);
    color: white;
    cursor: pointer;
}

.content-container {
    max-width: var(--main-container-size);
    margin: 0 auto;
}

.main-repair-block {
    padding-top: 55px;
}

.repair-block-title {
    font-family: 'TenorSans-Regular';
    text-transform: uppercase;
    font-size: 35px;
    text-align: center;
    padding-bottom: 55px;
}

.repair-about-block {
    display: flex;
    padding-bottom: 50px;
}

.repair-about-img-wrapper {
    width: 366px;
    height: 252px;
}

.repair-about-block-img {
    height: 100%;
}

.repair-about-text {
    font-family: 'Ubuntu-Regular';
    font-size: 17px;
    margin-left: 30px;
    line-height: 28px;
    color: var(--ligth-grey-color);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.repair-block-galary {
    margin-bottom: 100px;
}

.galary-menu-slider {
    display: flex;
    align-items: center;
}

.galary-menu-wrapper {
    display: flex;
    overflow: hidden;
    align-items: center;
}

.galary-menu {
    list-style: none;
    display: flex;
    align-items: center;
    width: 100%;
}

.galary-menu-item {
    display: inline-block;
    font-family: 'Ubuntu-Regular';
    padding: 5px 15px;
    background: #EBEBEB;
    border-radius: 50px;
    font-size: 17px;
    line-height: 25px;
    color: var(--ligth-grey-color);
    margin-left: 5px;
    cursor: pointer;
    transition: transform 0.25s ease-in-out;
    width: 100%;
    height: 34px;
    text-wrap: nowrap;
    text-overflow: ellipsis;
}

.galary-menu-item.active {
    color: white;
    background: var(--mustard-color);
}

.galary-menu-item:hover {
    color: white;
    background-color: var(--mustard-color);
}

.galary-button-right,.galary-button-left {
    flex-shrink: 0;
    background: url('../images/icons/galary-right.svg') center no-repeat;
    left: -2px;
    width: 34px;
    height: 34px;
    border-radius: 50%;
    background-color: #EBEBEB;
    background-position: left 13px top 10px;
    cursor: pointer;
    margin-left: 5px;
}

.galary-button-left {
    display: none;
    transform: rotate(180deg);
}

.galary-images {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}

.galary-image-wrapper {
    width: 32.38%;
    height: 270px;
}

.galary-image-item {
    max-width: 100%;
}

.our-services-block {
    
}

.our-services-title {
    font-family: 'TenorSans-Regular';
    text-align: center;
    text-transform: uppercase;
    font-size: 30px;
}

.our-items-block {
    display: flex;
    flex-wrap: wrap;
    margin-top: 50px;
    margin-bottom: 50px;
    justify-content: space-between;
}

.our-services-item {
    max-width: 480px;
    margin-bottom: 50px;
}

.our-services-image {
    display: block;
    margin: 0 auto;
    max-width: 140px;
    height: 140px;
}

.our-services-image-title {
    font-family: 'Ubuntu-Bold';
    font-size: 17px;
    text-transform: uppercase;
    text-align: center;
    margin: 25px 0px;
}

.our-services-text {
    font-family: 'Ubuntu-Regular';
    font-size: 17px;
    color: var(--ligth-grey-color);
    text-align: center;
}

.stock-block {
    background-image: url('../images/galary/1.webp');
    object-fit: cover;
    overflow: hidden;
    width: 100%;
    height: 162px;
    color: white;
    font-family: 'Inter';
    display: flex;
    padding: 40px 60px 40px 40px;
    align-items: center;
    justify-content: space-between;
}

.stock-left-block {
    width: 360px;
    height: 85px;
}

.stock-block-title {
    font-size: 27px;
    text-transform: uppercase;
}

.stock-block-text {
    font-size: 15px;
}

.warranty.stock {
    color: black;
    height: 45px;
    width: 138px;
    padding-left: 35px;
}

.cooperation-block {
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
    margin-bottom: 100px;
}

.cooperation-left-block {
    font-family: 'Ubuntu-Regular';
    font-size: 16px;
}

.cooperation-title {
    font-family: 'TenorSans-Regular';
    text-transform: uppercase;
    font-size: 30px;
    margin-bottom: 50px;
}

.cooperation-list {
    color: var(--ligth-grey-color);
}

.cooperation-index {
    width: 36px;
    height: 36px;
    background-color: var(--bright-grey-color);
    border-radius: 50%;
    text-align: center;
    color: white;
    line-height: 36px;
    flex-shrink: 0;
}

.cooperation-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.cooperation-text {
    margin-left: 10px;
}

.cooperation-button {
    font-family: 'Ubuntu-Bold';
    font-size: 17px;
    width: 205px;
    height: 40px;
    color: white;
    background: var(--mustard-color);
    border-radius: 4px;
    cursor: pointer;
    margin: 10px 0px;
    text-transform: uppercase;
}

.cooperation-call-title {
    font-family: 'Ubuntu-Regular';
    font-size: 16px;
    margin-bottom: 15px;
}

.cooperation-right-block {
    height: 569px;
}

.cooperation-right-image {
    max-width: 100%;
    max-height: 100%;
}

.phone-number-label.cooperation {
    font-family: 'TenorSans-Regular';
    font-size: 25px;
}

.cooperation-messengers {
    display: flex;
    width: 80px;
    justify-content: space-between;
}

.our-advantages-block {
    font-family: 'TenorSans-Regular';
}

.our-advantages-title {
    font-size: 30px;
    text-transform: uppercase;
    text-align: center;
}

.our-advantages-line {
    margin-top: 50px;
    margin-bottom: 100px;
    display: flex;
    justify-content: center;
    color: var(--ligth-grey-color);
    font-size: 25px;
}

.advantages-line-wrapper {
    padding: 10px 0px;
}

.advantages-text-line {
    display: flex;
}

.advantages-big-number {
    font-size: 56px;
    margin-right: 15px;
}

.advantages-text-line {
    height: 100%;
    display: flex;
    align-items: center;
}

.advantages-text {
    display: block;
}

.advantages-separator {
    border-left: 1px solid;
    margin-left: 60px;
    margin-right: 60px;
}

.choose-material-block {
    
}

.choose-material-title {
    font-family: 'TenorSans-Regular';
    font-size: 30px;
    text-transform: uppercase;
    text-align: center;
    
}

.choose-material-list {
    margin-top: 55px;
    display: flex;
    margin-bottom: 100px;
    flex-wrap: wrap;
    justify-content: space-between;
}

.material-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: 'Ubuntu-Regular';
    font-size: 17px;
    width: calc(20% - 50px);
    margin-bottom: 40px;
}

.material-image {
    max-width: 100%;
    height: 146px;
    border-radius: 5px;
}

.material-title {
    font-family: 'Ubuntu-Bold';
    font-size: 17px;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 20px;
    margin-top: 20px;
}

.material-text {
    color: var(--ligth-grey-color);
    text-align: center;
    line-height: 28px;
}

.send-request-block {
    background-color: var(--super-light-grey-color);
    padding: 60px 0px;
    font-family: 'Ubuntu-Regular';
}

.send-request-title {
    font-family: 'TenorSans-Regular';
    font-size: 30px;
    text-transform: uppercase;
    text-align: center;
}

.send-request-text {
    text-align: center;
    color: var(--ligth-grey-color);
    margin-top: 30px;
    margin-bottom: 55px;
}

.request-form-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

.feedback-form-submit.request {
    display: block;
    text-transform: uppercase;
}

.form-checkbox-wrapper {
    display: flex;
    align-items: center;
    margin-top: 9px;
    margin-bottom: 40px;
}

.feedback-form-checkbox {
    box-sizing: border-box;
    width: 18px;
    height: 18px;
    margin-right: 10px;
    background: #FFFFFF;
    border: 1px solid var(--ligth-grey-color);
    cursor: pointer;
}

.form-checkbox-label {
    cursor: pointer;
    font-size: 17px;
    color: var(--ligth-grey-color);
}

.our-works-block {
    font-family: 'Ubuntu-Regular';
    font-size: 17px;
    margin-top: 100px;
    margin-bottom: 100px;
}

.our-works-title {
    font-family: 'TenorSans-Regular';
    font-size: 30px;
    text-transform: uppercase;
    text-align: center;
}

.our-works-image-container {
    display: flex;
    margin-top: 70px;
    margin-bottom: 60px;
    justify-content: space-between;
}
.our-works-image-wrapper {
    width: 27.53%;
    height: 290px;
}
.our-works-image {
    border-radius: 5px;
    max-width: 100%;
}

.works-button-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 240px;
    height: 290px;
}

.our-works-button {
    font-family: 'Ubuntu-Bold';
    padding: 10px 20px;
    width: 156px;
    height: 40px;
    background: var(--mustard-color);
    border-radius: 4px;
    color: white;
    text-transform: uppercase;
    cursor: pointer;
}

.our-works-text {
    margin-bottom: 5px;
    text-align: center;
    color: var(--ligth-grey-color);
}

.renovations-block {
    font-family: 'Ubuntu-Regular';
    font-size: 17px;
    margin-bottom: 100px;
}

.renovations-title {
    font-family: 'TenorSans-Regular';
    font-size: 30px;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 55px;
}

.renovations-paragraph {
    line-height: 28px;
    margin-bottom: 45px;
    color: var(--ligth-grey-color);
    display: flex;
    justify-content: space-between;
}

.paragraph-text {
    display: block;
    width: 1150px;
}

.paragraph-img {
    width: 370px;
    height: 195px;
}

.calculation-cost-block {
    padding-top: 60px ;
    padding-bottom: 50px;
    font-family: 'Ubuntu-Regular';
    font-size: 17px;
    background-color: var(--super-light-grey-color);
    
}

.calculation-title {
    font-family: 'TenorSans-Regular';
    font-size: 30px;
    text-transform: uppercase;
    text-align: center;
}

.calculation-text {
    color: var(--ligth-grey-color);
    margin-top: 22px;
    margin-bottom: 58px;
    text-align: center;
}

.calculation-form-wrapper {
    max-width: 1100px;
    margin: 0 auto;
}

.form-elem-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.cost-label {
    display: block;
    margin-bottom: 5px;
    color: var(--ligth-grey-color);
}

.cost-form-block {
    background-color: transparent;
    position: relative;
}

.select-wrapper::after {
    position: absolute;
    display: block;
    content: "";
    right: 20px;
    top: 50%;
    z-index: 1;
    width: 10px;
    height: 10px;
    border-top: 2px solid #EE0000;
    border-right: 2px solid #EE0000;
    transform: rotate(135deg);
}

.feedback-form-input.select {
    position: relative;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    font-family: 'Ubuntu-Regular';
    font-size: 17px;
    color: var(--ligth-grey-color);
    cursor: pointer;
}

.feedback-form-input.select::-ms-expand {
    display: none;
}

.cost-label.file {
    position: absolute;
    top: 40%;
    display: block;
    width: 160px;
    height: 28px;
    line-height: 28px;
    font-family: 'Ubuntu-Regular';
    color: white;
    font-size: 17px;
    text-align: center;
    background: #B5B5B5;
    cursor: pointer;
}

.cost-form-block.file {
    display: flex;
    flex-direction: column;
    width: 360px;
}

.feedback-form-file {
    width: 0.1px;
    height: 0.1px;
    z-index: -1;
    opacity: 0;
    overflow: hidden;
}

.feedback-form-submit.costs {
    display: block;
}

.our-guarantees-block {
    margin: 100px 0px;
}

.our-guarantees-title {
    font-family: 'TenorSans-Regular';
    font-size: 30px;
    text-transform: uppercase;
    text-align: center;
}

.our-guarantees-line {
    margin-top: 55px;
    display: flex;
    justify-content: space-between;
}

.our-guarantees-item {
    font-family: 'Ubuntu-Regular';
    font-size: 17px;
    color: var(--ligth-grey-color);
    width: 350px;
}

.our-guarantees-img {
    display: block;
    margin: 0 auto;
    width: 115px;
    height: 115px;
    border-radius: 50%;
    margin-bottom: 20px;
}

.our-guarantees-text {
    text-align: center;
}

.users-reviews-block {
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 100px;
}

.user-reviews-title {
    font-family: 'TenorSans-Regular';
    font-size: 30px;
    text-transform: uppercase;
    text-align: center;
}

.user-review-line {
    margin-top: 65px;
    font-family: 'Ubuntu-Regular';
    display: flex;
    margin-bottom: 100px;
}

.user-review-img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
}

.user-review-right {
    margin-left: 20px;
}

.user-review-name {
    font-family: 'Ubuntu-Bold';
    font-size: 17px;
    margin-bottom: 25px;
}

.user-review-text {
    line-height: 28px;
    color: var(--ligth-grey-color);
}

.main-slider {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.slider-switcher {
    border: 1px solid var(--bright-grey-color);
    border-radius: 50%;
    width: 9px;
    height: 9px;
    cursor: pointer;
}

.slider-switcher.active {
    height: 14px;
    width: 14px;
    background-color: var(--mustard-color);
}

.main-slider.review {
    max-width: 90px;
    margin: 0 auto;
}

.often-questions-block {
    font-family: 'Ubuntu-Regular';
    font-size: 17px;
}

.often-questions-title {
    font-family: 'TenorSans-Regular';
    font-size: 30px;
    text-transform: uppercase;
    text-align: center;
}

.often-questions-items {
    margin: 50px 0px;
}

.often-question-item {
    cursor: pointer;
    border-top: 2px solid #ECECEC;
    padding: 30px 0px;
    color: var(--ligth-grey-color);
    display: flex;
    justify-content: space-between;
}

.question-item-arrow {
    position: relative;
    border-radius: 50%;
    width: 28px;
    height: 28px;
    background-color: var(--bright-grey-color);
    
}
.question-item-arrow::after {
    position: absolute;
    content: "";
    display: block;
    top: 25%;
    left: 35%;
    width: 9px;
    height: 9px;
    border-top: 1px solid var(--ligth-grey-color);
    border-right: 1px solid var(--ligth-grey-color);
    transform: rotate(135deg);
}

.main-slider.questions {
    width: 90px;
    margin: 0 auto;
}

.footer {
    margin-top: 50px;
    font-family: 'Ubuntu-Regular';
    color: var(--ligth-grey-color);
}

.footer-container {
    max-width: var(--main-container-size);
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.footer-logo {
    display: block;
    width: 100px;
    height: 75px;
    cursor: pointer;
}

.footer-logo img {
    width: 100%;
    height: 100%;
}

.footer-block-left {
    width: 235px;
    justify-content: space-between;
}

.footer-block-right {
    width: 410px;
}

.footer-block-line {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.footer-block-title {
    font-family: 'Ubuntu-Bold';
    font-size: 17px;
    text-transform: uppercase;
    color: #A1A1A1;
    margin-bottom: 30px;
}

.footer-block-menu {
    display: flex;
    justify-content: space-between;
}

.footer-menu {
    list-style: none;
    height: 115px;
    display: flex;
    flex-direction: column;
}

.footer-menu-item {
    text-decoration: none;
    color: var(--ligth-grey-color);
    font-size: 17px;
    line-height: 29px;
}

.footer-phone-wrapper {
    margin-top: 35px;
}

.footer-menu-item:hover {
    color: black;
}

.order-call-button.footer-call {
    height: 20px;
    padding: 0px 10px;
}

.footer-email {
    display: flex;
    margin-bottom:  25px;
    align-items: center;
}

.footer-email-icon {
    width: 16px;
    height: 16px;
}

.footer-email-text {
    margin-left: 10px;
}

.footer-messengers {
    display: flex;
    align-items: center;
    width: 81px;
    justify-content: space-between;
    margin-bottom: 20px;
}

.footer-payments {
    width: 215px;
}

.footer-payments-title {
    margin-bottom: 15px;    
}

.footer-payments-images {
    display: flex;
    justify-content: space-between;
}

.footer-copyright {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 15px;
}

.footer-about {
    display: flex;
    text-decoration: underline;
    justify-content: center;
    margin-bottom: 35px;
}

.footer-separator {
    border-left: 1px solid;
    margin: 0px 15px;
}


.site-explorer {
    font-family: 'Ubuntu-Regular';
    font-size: 17px;
    padding-top: 20px;
    padding-bottom: 15px;
    display: flex;
    border-bottom: 1px solid var(--bright-grey-color);
}

.explorer-separator {
    border-right:  1px solid var(--ligth-grey-color);
    margin: 0px 10px;
}

.explorer-item {
    color: var(--ligth-grey-color);
    text-decoration: underline;
    line-height: 20px;
}

.explorer-item.active {
    text-decoration: none;
}

