/* Ubuntu */
@font-face {
    font-family: 'Ubuntu-Regular';
    src: url('../fonts/ubuntu/Ubuntu-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
/* Ubuntu-Medium*/
@font-face {
    font-family: 'Ubuntu-Medium';
    src: url('../fonts/ubuntu/Ubuntu-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}
/* Ubuntu-Bold */
@font-face {
    font-family: 'Ubuntu-Bold';
    src: url('../fonts/ubuntu/Ubuntu-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

/*Tenor sans*/
@font-face {
    font-family: 'TenorSans-Regular';
    src: url('../fonts/tenor_sans/TenorSans-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

/* Inter */
@font-face {
    font-family: 'Inter';
    src: url('../fonts/Inter/static/Inter_28pt-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

:root {
    --main-container-size: 1544px;
    --ligth-grey-color: #555555;
    --mustard-color: #C39438;
    --bright-grey-color: #B5B5B5;
}

/* Обнуление */
* {
	padding: 0px;
	margin: 0px;
	border: none;
}
*,
*::before,
*::after {
	box-sizing: border-box;
}

.header-top-block {
    max-width: var(--main-container-size);
    margin: 0 auto;
    padding-top: 20px;
    height: 130px;
    display: flex;
    justify-content: space-between;
    color: var(--ligth-grey-color);
}

.header-bottom-block {
    width: 100%;
    position: absolute;
    top: 130px;
    left: 0;
    width: 100%;
    height: 61px;
    background-color: #ECECEC;
}
.header-bottom-menu {
    height: 100%;
    max-width: var(--main-container-size);
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
}
.menu-item {
    text-transform: uppercase;
    font-family: 'Ubuntu-Bold';
    font-size: 17px;
    cursor: pointer;
}
.header {
    font-family: 'Ubuntu-Regular';
    position: relative;
}

.header-logo {
    cursor: pointer;
}
.header-search-block {
    height: 24px;
}
.header-search-title {
    font-weight: 400;
    font-size: 14px;
    line-height: 28px;
    display: flex;
    align-items: center;
    color: var(--ligth-grey-color);
    padding: 8px 0;
}

.header-search-input {
    padding: 13px 18px 13px 18px;
    box-sizing: border-box;
    width: 368px;
    height: 38px;
    background: #FFFFFF;
    opacity: 0.38;
    border: 1px solid #4E5152;
    border-radius: 500px;
    flex: none;
    order: 1;
    flex-grow: 0;
    gap: 12px;
}

.phone-number-block {
    font-family: 'TenorSans-Regular';
    font-size: 22px;
    font-weight: 400;
    line-height: 25.74px;
    text-align: left;
}

.phone-number {
    display: flex;
    align-items: center;
    padding-bottom: 10px;
}

.phone-number-label {
    display: inline;
    line-height: 24px;
    padding-left: 10px;
    color: var(--ligth-grey-color);
}

.phone-number-icon {
    width: 16px;
    height: 24px;
}

.order-call-button {
    font-family: 'Ubuntu-Medium';
    padding: 6px 20px;
    gap: 10px;
    width: 175px;
    height: 32px;
    background: var(--mustard-color);
    border-radius: 4px;
    color: white;
    font-size: 17px;
    font-weight: 500;
    cursor: pointer;
}

.location-block {
    display: flex;
    width: 243px;
    text-wrap: wrap;
}

.location-icon {
    width: 16px;
    height: 16px;
    margin-right: 5px;
}

.location-label {
    font-size: 15px;
    line-height: 21px;
}

.header-messengers {
    display: flex;
    align-items: center;
    width: 81px;
    justify-content: space-between;
}

.telegramm-icon {
    cursor: pointer;
}

.watssup-icon {
    cursor: pointer;
}

.header-calculation {
    display: flex;
    align-items: center;
}

.calculation-button {
    font-family: 'Ubuntu-Medium';
    background-color: var(--mustard-color);
    background-image: url('../images/icons/calculator.png');
    background-repeat: no-repeat;
    background-position: 18px 11px;
    width: 243px;
    height: 40px;
    padding: 10px 20px 10px 20px;
    gap: 10px;
    border-radius: 4px;
    color: white;
    font-size: 17px;
    line-height: 20px;
    cursor: pointer;
}

.content {
    margin-top: 61px;
}

.main-about-block {
    background-image: url('../images/galary/snapedit_1726250939241.jpg');
    background-repeat: no-repeat; 
    background-size: cover; 
    height: 523px;
    width: 100%;
}

.about-block-container {
    padding-top: 120px;
    max-width: var(--main-container-size);
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.about-left {
    font-family: 'Ubuntu-Bold';
    color: white;
    text-transform: uppercase;
    display: flex;
    justify-content: space-between;
    width: 978px;
}

.about-main-title {
    font-family: 'TenorSans-Regular';
    font-size: 51px;
    max-width: 438px;
    text-wrap: wrap;
    line-height: 60px;
    margin-bottom: 33px;
}

.about-under-block {
    display: flex;
}

.separator {
    border: 1px solid white;
    height: 22px;
    margin: 0px 30px;
}

.about-under-title {
    font-size: 17px;
    line-height: 20px;
    margin-bottom: 15px;
}

.about-button {
    font-family: 'Ubuntu-Bold';
    width: 149px;
    height: 40px;
    padding: 10px 20px 10px 20px;
    border-radius: 4px;
    background-color: var(--mustard-color);
    font-size: 17px;
    line-height: 20px;
    color: white;
    text-transform: uppercase;
    cursor: pointer;
}

.warranty-big-three {
    font-size: 47px;
    margin-right: 12px;
}

.warranty {
    width: 186px;
    height: 74px;
    background-color: white;
    color: var(--mustard-color);
    display: flex;
    align-items: center;
    padding: 0px 17px;
    font-size: 17px;
    position: relative;
    z-index: 0;
}

.warranty::before {
    content: '';
    position: absolute;
    right: -27px;
    bottom: 0;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 38px 0 0 27px;
    border-color: transparent transparent transparent #ffffff;
    z-index: -1;
}

.warranty::after {
    content: '';
    position: absolute;
    right: -27px;
    top: 0px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 38px 27px 0 0;
    border-color: #ffffff transparent transparent transparent;
    z-index: -1;
}

.about-right {
    width: 420px;
    height: 258px;
    border-radius: 20px;
    background-color: white;
}

.feedback-form {
    padding: 30px 35px;
    display: flex;
    flex-direction: column;
}
.feedback-form-title {
    font-family: 'Ubuntu-Bold';
    text-transform: uppercase;
    font-size: 17px;
    color: var(--ligth-grey-color);
    line-height: 20px;
    text-align: center;
    margin-bottom: 13px;
}
.feedback-form-input {
    width: 360px;
    height: 54px;
    padding: 13px 18px;
    border-radius: 10px;
    border: 1px solid;
    outline: none;
    margin-bottom: 13px;
}
.feedback-form-input::placeholder {
    font-family: 'Ubuntu-Regular';
    font-size: 17px;
    line-height: 28px;
}
.feedback-form-submit {
    font-family: 'Ubuntu-Bold';
    font-size: 17px;
    width: 144px;
    margin: 0 auto;
    height: 40px;
    padding: 10px 20px;
    border-radius: 4px;
    background-color: var(--mustard-color);
    color: white;
    cursor: pointer;
}

.content-container {
    max-width: var(--main-container-size);
    margin: 0 auto;
}

.main-repair-block {
    padding-top: 55px;
}

.repair-block-title {
    font-family: 'TenorSans-Regular';
    text-transform: uppercase;
    font-size: 35px;
    text-align: center;
    padding-bottom: 55px;
}

.repair-about-block {
    display: flex;
    padding-bottom: 50px;
}

.repair-about-block-img {
    width: 366px;
    height: 252px;
}

.repair-about-text {
    font-family: 'Ubuntu-Regular';
    font-size: 17px;
    margin-left: 30px;
    line-height: 28px;
    color: var(--ligth-grey-color);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.repair-block-galary {
    margin-bottom: 100px;
}

.galary-menu {
    list-style: none;
    display: flex;
    align-items: center;
}

.galary-menu-item {
    font-family: 'Ubuntu-Regular';
    padding: 5px 15px;
    background: #EBEBEB;
    border-radius: 50px;
    font-size: 17px;
    line-height: 28px;
    color: var(--ligth-grey-color);
    margin-left: 5px;
    cursor: pointer;
}

.galary-menu-item.active {
    color: white;
    background: var(--mustard-color);
}
.galary-menu-item:hover {
    color: white;
    background-color: var(--mustard-color);
}

.galary-button-right {
    background: url('../images/icons/galary-right.svg') center no-repeat;
    left: -2px;
    width: 34px;
    height: 34px;
    border-radius: 50%;
    background-color: #EBEBEB;
    background-position: left 13px top 10px;
    cursor: pointer;
    margin-left: 5px;
}

.galary-images {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}

.galary-image-item {
    max-width: 498px;
    max-height: 270px;
    border-radius: 5px;
}

.our-services-block {
    
}

.our-services-title {
    font-family: 'TenorSans-Regular';
    text-align: center;
    text-transform: uppercase;
    font-size: 30px;
}

.our-items-block {
    display: flex;
    flex-wrap: wrap;
    margin-top: 50px;
    margin-bottom: 50px;
    justify-content: space-between;
}

.our-services-item {
    max-width: 480px;
    margin-bottom: 50px;
}

.our-services-image {
    display: block;
    margin: 0 auto;
    max-width: 140px;
    height: 140px;
}

.our-services-image-title {
    font-family: 'Ubuntu-Bold';
    font-size: 17px;
    text-transform: uppercase;
    text-align: center;
    margin: 25px 0px;
}

.our-services-text {
    font-family: 'Ubuntu-Regular';
    font-size: 17px;
    color: var(--ligth-grey-color);
    text-align: center;
}

.stock-block {
    background-image: url('../images/galary/1.webp');
    object-fit: cover;
    overflow: hidden;
    width: 100%;
    height: 162px;
    color: white;
    font-family: 'Inter';
    display: flex;
    padding: 40px 60px 40px 40px;
    align-items: center;
    justify-content: space-between;
}

.stock-left-block {
    width: 360px;
    height: 85px;
}

.stock-block-title {
    font-size: 27px;
    text-transform: uppercase;
}

.stock-block-text {
    font-size: 15px;
}

.warranty.stock {
    color: black;
    height: 45px;
    width: 138px;
    padding-left: 35px;
}

.cooperation-block {
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
    margin-bottom: 100px;
}

.cooperation-left-block {
    font-family: 'Ubuntu-Regular';
    font-size: 16px;
}

.cooperation-title {
    font-family: 'TenorSans-Regular';
    text-transform: uppercase;
    font-size: 30px;
    margin-bottom: 50px;
}

.cooperation-list {
    color: var(--ligth-grey-color);
}

.cooperation-index {
    width: 36px;
    height: 36px;
    background-color: var(--bright-grey-color);
    border-radius: 50%;
    text-align: center;
    color: white;
    line-height: 36px;
}

.cooperation-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.cooperation-text {
    margin-left: 10px;
}

.cooperation-button {
    font-family: 'Ubuntu-Bold';
    font-size: 17px;
    width: 205px;
    height: 40px;
    color: white;
    background: var(--mustard-color);
    border-radius: 4px;
    cursor: pointer;
    margin: 10px 0px;
    text-transform: uppercase;
}

.cooperation-call-title {
    font-family: 'Ubuntu-Regular';
    font-size: 16px;
    margin-bottom: 15px;
}

.cooperation-right-block {
    width: 468px;
    height: 569px;
}

.cooperation-right-image {
    width: 100%;
    height: 100%;
}

.phone-number-label.cooperation {
    font-family: 'TenorSans-Regular';
    font-size: 25px;
}

.cooperation-messengers {
    display: flex;
    width: 80px;
    justify-content: space-between;
}

.our-advantages-block {
    font-family: 'TenorSans-Regular';
}

.our-advantages-title {
    font-size: 30px;
    text-transform: uppercase;
    text-align: center;
}

.our-advantages-line {
    margin-top: 50px;
    margin-bottom: 100px;
    display: flex;
    justify-content: center;
    color: var(--ligth-grey-color);
    font-size: 25px;
}
.advantages-line-wrapper {
    padding: 10px 0px;
}
.advantages-text-line {
    display: flex;
}

.advantages-big-number {
    font-size: 56px;
    margin-right: 15px;
}

.advantages-text-line {
    height: 100%;
    display: flex;
    align-items: center;
}

.advantages-text {
    display: block;
}

.advantages-separator {
    border-left: 1px solid;
    margin-left: 60px;
    margin-right: 60px;
}
.choose-material-block {
    
}
.choose-material-title {
    font-family: 'TenorSans-Regular';
    font-size: 30px;
    text-transform: uppercase;
    text-align: center;
    
}

.choose-material-list {
    margin-top: 55px;
    display: flex;
    margin-bottom: 100px;
    flex-wrap: wrap;
    justify-content: space-between;
}

.material-item {
    font-family: 'Ubuntu-Regular';
    font-size: 17px;
    width: 270px;
    margin-bottom: 40px;
}

.material-image {
    width: 270px;
    height: 146px;
    border-radius: 5px;
}

.material-title {
    font-family: 'Ubuntu-Bold';
    font-size: 17px;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 20px;
    margin-top: 20px;
}

.material-text {
    color: var(--ligth-grey-color);
    text-align: center;
    line-height: 28px;
}

.send-request-block {
    background-color: #E8E8E8;
    padding: 60px 0px;
    font-family: 'Ubuntu-Regular';
}

.send-request-title {
    font-family: 'TenorSans-Regular';
    font-size: 30px;
    text-transform: uppercase;
    text-align: center;
}

.send-request-text {
    text-align: center;
    color: var(--ligth-grey-color);
    margin-top: 30px;
    margin-bottom: 55px;
}

.request-form-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

.feedback-form-submit.request {
    display: block;
    text-transform: uppercase;
}

.form-checkbox-wrapper {
    display: flex;
    align-items: center;
    margin-top: 9px;
    margin-bottom: 40px;
}

.feedback-form-checkbox {
    box-sizing: border-box;
    width: 18px;
    height: 18px;
    margin-right: 10px;
    background: #FFFFFF;
    border: 1px solid var(--ligth-grey-color);
    cursor: pointer;
}

.form-checkbox-label {
    cursor: pointer;
    font-size: 17px;
    color: var(--ligth-grey-color);
}

.our-works-block {
    font-family: 'Ubuntu-Regular';
    font-size: 17px;
    margin-top: 100px;
    margin-bottom: 100px;
}

.our-works-title {
    font-family: 'TenorSans-Regular';
    font-size: 30px;
    text-transform: uppercase;
    text-align: center;
    
}

.our-works-image-container {
    display: flex;
    margin-top: 70px;
    margin-bottom: 60px;
    justify-content: space-between;
}

.our-works-image {
    border-radius: 5px;
    width: 425px;
    height: 290px;
}

.works-button-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 240px;
    height: 290px;
}

.our-works-button {
    font-family: 'Ubuntu-Bold';
    padding: 10px 20px;
    width: 156px;
    height: 40px;
    background: var(--mustard-color);
    border-radius: 4px;
    color: white;
    text-transform: uppercase;
    cursor: pointer;
}

.our-works-text {
    margin-bottom: 5px;
    text-align: center;
    color: var(--ligth-grey-color);
}



