.clients-reviews-title {
    font-family: 'TenorSans-Regular';
    text-transform: uppercase;
    font-size: 35px;
    text-align: center;
    padding-bottom: 55px;
    margin-top: 50px;
}

.clients-reviews-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.user-review-line.row {
    min-width: unset;
    width: 31.09%;
    margin-bottom: 32px;
    margin-top: 0px;
}